.user {
    border: 3px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    width: 30%;
}

.users {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    height: 100vh;
}

form input {
    padding: 10px;
    width: 500px;
}
#darkLightModeButton {
    margin: 15px 0;
    cursor: pointer;
    font-size: 30px;
}

.dark {
    background-color: black;
}

.dark * {
    color: white;
}

.light {
    background-color: white;
}

.light * {
    color: black;
}